@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

.link {
    color: #1976d2;
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid #1976d2;
}